<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <div th:replace="fragments/head1 :: header"></div>
    <div layout:fragment="metadata"></div>
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />
</head>

<body>
<div th:replace="fragments/nav1 :: header"></div>

<div layout:fragment="content"></div>
</body>

<div layout:fragment="script"></div>


<head>
    <h1 style = "padding-top: 70px; padding-bottom: 30px"> We Rate News Sources Here</h1>
</head>
<style>
    table, th, td {
        border:2px solid black;
    }
</style>
<body>


<table style="width:100%; font-size: 30px; color: black">
    <tr>
        <th>News Source</th>
        <th>Political Bias</th>
        <th>Example</th>
    </tr>
    <tr>
        <td>CNN</td>
        <td>Left</td>
        <td><a href="https://www.cnn.com/2021/09/12/asia/north-korea-missile-launch-new-intl/index.html">Article</a></td>

    </tr>
    <tr>
        <td>Fox News</td>
        <td>Right</td>
        <td><a href="https://www.foxnews.com/live-news/live-updates-2021-mtv-vmas">Article</a></td>

    </tr>
</table>

</body>


</html>