<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout1}" lang="en">
<head><div layout:fragment="metadata" th:remove="tag">
    <meta charset="UTF-8">
    <title>Chris Individual</title>
    <link rel="stylesheet" href="../../static/styles/styles.css">
</div></head>

<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div class="contact" style="height: 35vh;">
        <div class="row justify-content-left" style="margin: 2%;">
            <form action="/chris" method="GET" id="greetForm">
                <div>
                    <label for="greetField">Type a greeting name?</label>
                    <input name="name" id="greetField">
                    <button>Greetings!</button>
                    <p th:text="'Greetings, ' + ${name} + '!'"></p>
                </div>
            </form>
        </div>
    </div>
    <!-- End of body content specific to page -->

<script src="/static/vanta/three.r119.min.js" th:src="@{/vanta/three.r119.min.js}"></script>
<script src="/static/vanta/vanta.birds.min.js" th:src="@{/vanta/vanta.birds.min.js}"></script>
<script>
    VANTA.BIRDS({
        el: "body",
        mouseControls: true,
        touchControls: true,
        gyroControls: false,
        minHeight: 1080.00,
        minWidth: 1920.00,
        scale: 1.00,
        scaleMobile: 1.00
    })
</script>
</div></body>
</html>