<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout1}" lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
  <meta charset="utf-8">
  <title>About Us</title>
  <link rel="stylesheet" href="../static/about.css" type="text/css">
</head>

<body class="about-bg"><div layout:fragment="content" th:remove="tag">
  <h1 class="about-header">About Us</h1>
  <div style="text-align: center;"><p class="about-body">P2 Chickens Scrum Team</p></div>

  <div class="row">
    <div class="column">
      <img class="face" src="../static/images/joe5.png" alt="Shekar">
      <p class="face-name">Shekar Krishnamoorthy</p>
      <p class="face-text">Does something</p>
      <dl>
        <dt>Big text</dt>
        <dd>- Subtext</dd>
        <dt>Big text</dt>
        <dd>- Subtext</dd>
      </dl>
    </div>
    <div class="column">
      <img class="face" src="../static/images/joe2.png" alt="Chris">
      <p class="face-name">Chris Ruben</p>
      <p class="face-text">Does something</p>
      <dl>
        <dt>Big text</dt>
        <dd>- Subtext</dd>
        <dt>Big text</dt>
        <dd>- Subtext</dd>
      </dl>
    </div>
    <div class="column">
      <img class="face" src="../static/images/joe3.jpeg" alt="Sam">
      <p class="face-name">Sam Koenig</p>
      <p class="face-text">Does Something</p>
      <dl>
        <dt>Big text</dt>
        <dd>- Subtext</dd>
        <dt>Big text</dt>
        <dd>- Subtext</dd>
      </dl>
    </div>
    <div class="column">
      <img class="face" src="../static/images/joe4.jpeg" alt="Dylan">
      <p class="face-name">Dylan Roman</p>
      <p class="face-text">Does Something</p>
      <dl>
        <dt>Big text</dt>
        <dd>- Subtext</dd>
        <dt>Big text</dt>
        <dd>- Subtext</dd>
      </dl>
    </div>
  </div>
</div>
</body>
</html>