<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layoute}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Index Page</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Playfair+Display" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat" />

    <link th:href="@{/styles/styles.css}" rel="stylesheet" />
    </div>
    <title></title>
</head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body style="background: gray; overflow: hidden;">
<div layout:fragment="content" th:remove="tag">
    <div style="margin-top: -4%;">
        <iframe src="https://pub.lucidpress.com/aa6f71a6-36d6-47a0-a85c-6c27600ed5cd/" width="1920" height="980"></iframe>
    </div>
</div>
</body>
</html>