<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>gridtest</title>
    <!-- Import Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>

    <table class="table">
        <!-- Head -->
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Article Name</th>
                <th scope="col">Rating</th>
                <th scope="col">Number of Reviews</th>
            </tr>
        </thead>
        <!-- Body -->
        <tbody>
        <tr>
            <th scope ="row"></th>
            <td>1</td>
            <td>${#source1.getArticle_Name()}</td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <th scope ="row"></th>
            <td>2</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <th scope ="row"></th>
            <td>3</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        </tbody>
    </table>

</body>
</html>