<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout1}" lang="en">
<head><div layout:fragment="metadata" th:remove="tag">
    <meta charset="UTF-8">
    <title>Chris Individual</title>
    <link th:href="@{/styles/styles.css}" rel="stylesheet" /></div></head>

<body style="background-color: #6084a3;"><div layout:fragment="content" th:remove="tag">

    <!-- Start of body content specific to page -->
    <div class="contact" style="height: 35vh;">
        <div class="row justify-content-left" style="margin: 2%;">
            <form action="" method="GET" id="fibForm">
                <div style="color:white">
                    <label for="fibField">Type a Palindrome?</label>
                    <input name="word" id="fibField">
                    <button>Palindrome!</button>
                    <p th:text="${message}"></p>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <h3>Outputs</h3>
            <p th:text="${word}"></p>
            <table class="mx-auto">
                <tr>
                    <th scope="col">Method</th>
                    <th scope="col">Palindrome?</th>
                </tr>
                <tr th:each="check : ${checkList}">
                    <td th:text="${check.getName()}"></td>
                    <td th:text="${check.getList()}"></td>
                    <!--                       <td th:text="${fib.getTimeElapsed()}"></td> -->
                </tr>
            </table>
        </div>
    </div>
    <!-- End of body content specific to page -->
</div></body>
</html>